<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   

    <title>Digital Gold</title>

    <!-- vendor css -->
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../lib/Ionicons/css/ionicons.css" rel="stylesheet">

    <!-- Digital Gold CSS -->
    <link rel="stylesheet" href="../css/digitalgold.css">

  </head>
  <body>
    <div class="dg-header">
      <div class="container">
        <div class="dg-header-left">
          <h2 class="dg-logo"><a href="index.html">digital gold<span></span></a></h2>

  
        </div><!-- dg-header-left -->
        <div class="dg-header-right">
          <div class="dropdown dropdown-a">
            
            <div class="dropdown-menu">
              <div class="dropdown-menu-header">
                <div class="dropdown-activity-list"></div>
                  <div class="dropdown-list-footer"></div>
              </div>
              
            </div><!-- dropdown-menu-right -->
          </div><!-- dropdown -->
          <div class="dropdown dropdown-b">
            <a href="" class="header-notification" data-toggle="dropdown">
              <i class="icon ion-ios-bell-outline"></i>
              <span class="indicator"></span>
            </a>
            <div class="dropdown-menu">
              <div class="dropdown-menu-header">
                <h6 class="dropdown-menu-title">Notifications</h6>
                <div>
                  <a href="">Mark All as Read</a>
                  <a href="">Settings</a>
                </div>
              </div><!-- dropdown-menu-header -->
              <div class="dropdown-list">
                <!-- loop starts here -->
                <a href="" class="dropdown-link">
                  <div class="media">
                   
                    <div class="media-body">
                      <p><strong>SOMETHING FOR YOU TO KNOW</p>
                      <span>October 03, 2017 8:45am</span>
                    </div>
                  </div><!-- media -->
                </a>
                <!-- loop ends here -->
                <a href="" class="dropdown-link">
                  <div class="media">
                   
                    <div class="media-body">
                      <p><strong>MORE NEWS</strong> </p>
                      <span>October 02, 2017 12:44am</span>
                    </div>
                  </div><!-- media -->
                </a>
                <a href="" class="dropdown-link read">
                  <div class="media">
                  
                    <div class="media-body">
                      <p><strong>LOOK AT ALL YR STUFF</strong></p>
                      <span>October 01, 2017 10:20pm</span>
                    </div>
                  </div><!-- media -->
                </a>
                <a href="" class="dropdown-link read">
                  <div class="media">
                    
                    <div class="media-body">
                      <p><strong>LOOKY LOOKY</strong></p>
                      <span>October 01, 2017 6:08pm</span>
                    </div>
                  </div><!-- media -->
                </a>
                <div class="dropdown-list-footer">
                  <a href="page-notifications.html"><i class="fa fa-angle-down"></i> Show All Notifications</a>
                </div>
              </div><!-- dropdown-list -->
            </div><!-- dropdown-menu-right -->
          </div><!-- dropdown -->
          <div class="dropdown dropdown-c">
            <a href="#" class="logged-user" data-toggle="dropdown">
              <img src="http://via.placeholder.com/500x500" alt="">
              <span>Staley</span>
              <i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <nav class="nav">
                <a href="page-profile.html" class="nav-link"><i class="icon ion-person"></i> View Profile</a>
                <a href="page-edit-profile.html" class="nav-link"><i class="icon ion-compose"></i> Edit Profile</a>
                <a href="page-activity.html" class="nav-link"><i class="icon ion-ios-bolt"></i> Activity Log</a>
                <a href="page-settings.html" class="nav-link"><i class="icon ion-ios-gear"></i> Account Settings</a>
                <a href="page-signin.html" class="nav-link"><i class="icon ion-forward"></i> Sign Out</a>
              </nav>
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->
        </div><!-- header-right -->
      </div><!-- container -->
    </div><!-- dg-header -->

    <div class="dg-navbar">
      <div class="container">
        <ul class="nav">
          <li class="nav-item with-sub active">
            <a class="nav-link" href="#">
             <!-- <i class="icon ion-ios-home-outline"></i>-->
              <span>Buy</span>
            </a>
            <div class="sub-item">
              <ul>
                
                
              </ul>
            </div><!-- sub-item -->
          </li>
          <li class="nav-item with-sub">
            <a class="nav-link" href="#">
             <!-- <i class="icon ion-ios-filing-outline"></i> -->
              <span>Sell</span>
            </a>
            <div class="sub-item">
              <div class="row">
                <div class="col-lg-5">
                  <label class="section-label"></label>
                  <div class="row">
                    <div class="col">
                      <ul>
                        
                      </ul>
                    </div><!-- col -->
                    <div class="col-lg">
                      <ul>
                        
                      </ul>
                    </div><!-- col -->
                  </div><!-- row -->
                </div><!-- col -->
                <div class="col-lg mg-t-30 mg-lg-t-0">
                  <label class="section-label"></label>
                  <ul>
                    
                  </ul>
                </div><!-- col -->
                <div class="col-lg mg-t-30 mg-lg-t-0">
                  <label class="section-label"></label>
                  <ul>
                    
                  </ul>

                  <label class="section-label mg-t-20"></label>
                  <ul>
                    
                  </ul>
                </div><!-- col -->
                <div class="col-lg mg-t-30 mg-lg-t-0">
                  <label class="section-label"></label>
                  <ul>
                    
                  </ul>
                </div><!-- col -->
              </div><!-- row -->
            </div><!-- dropdown-menu -->
          </li>
          <li class="nav-item with-sub">
            <a class="nav-link" href="#">
              <!--<i class="icon ion-ios-book-outline"></i>-->
              <span>Withdraw</span>
            </a>
            <div class="sub-item">
              <ul>
                
                <li class="sub-with-sub">
                  <a href="#"></a>
                  <ul>
                    
                  </ul>
                </li>
                <li class="sub-with-sub">
                  <a href="page-signin.html"></a>
                  <ul>
                    
                    
                  </ul>
                </li>
                <li class="sub-with-sub">
                  <a href="page-signup.html"></a>
                  <ul>
                   
                  </ul>
                </li>
                <li class="sub-with-sub">
                  <a href="#"></a>
                  <ul>
                   
                  </ul>
                </li>
              </ul>
            </div><!-- dropdown-menu -->
          </li>
          <li class="nav-item with-sub">
            <a class="nav-link" href="#" data-toggle="dropdown">
              <!--<i class="icon ion-ios-gear-outline"></i>-->
              <span>Redeem</span>
            </a>
            <div class="sub-item">
              <ul>
                
              </ul>
            </div><!-- dropdown-menu -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="page-messages.html">
              <!--<i class="icon ion-ios-chatboxes-outline"></i>-->
              <span>Funding</span>
              <span class="square-8"></span>
            </a>
          </li>
          
        </ul>
      </div><!-- container -->
    </div><!-- dg-navbar -->

    <div class="dg-mainpanel">
      <div class="container">
        <div class="dg-pageheader">
          <!--<ol class="breadcrumb dg-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
          </ol>-->
          <h6 class="dg-pagetitle">Welcome, Staley</h6>
        </div><!-- dg-pageheader -->

        <div class="dash-headline">
          
            <div class="dash-headline-item-one">
              <div id="chartArea1" class="dash-chartist"></div>
              <div class="dash-item-overlay">
                <h1>Historical Data</h1>
                <p class="earning-label"></p>
                <p class="earning-desc">Look at all this money I have! Opulence: You. Own. Everything....!!!!</p>
                
              </div>
            </div><!-- dash-headline-item-one -->
          </div><!-- dash-headline -->

          
        

        <div class="row row-sm mg-t-20">
          <div class="col-lg-6">
            <div class="card card-table">
              <div class="card-header">
                <h6 class="dg-card-title">Your Portfolio</h6>
              </div><!-- card-header -->
              <div class="table-responsive">
                <table class="table mg-b-0 tx-13">
                  <thead>
                    <tr class="tx-10">
                      <th class="wd-10p pd-y-5">&nbsp;</th>
                      <th class="pd-y-5">Item Details</th>
                      <th class="pd-y-5 tx-right">Sold</th>
                      <th class="pd-y-5">Gain</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="pd-l-20">
                       
                      </td>
                      <td>
                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Zurich</a>
                      </td>
                      <td class="valign-middle tx-right"><span class="square-8 bg-danger mg-r-5 rounded-circle"></span>Gold</td>
                      <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>33.34%</span> from last week</td>
                      <td class="valign-middle tx-center">
                        
                      </td>
                    </tr>
                    <tr>
                      <td class="pd-l-20">
                        
                      </td>
                      <td>
                        <a href="" class="tx-inverse tx-14 tx-medium d-block">New York</a>
                       
                      </td>
                      <td class="valign-middle tx-right"><span class="square-8 bg-success mg-r-5 rounded-circle"></span>Gold</td>
                      <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>21.20%</span> from last week</td>
                      <td class="valign-middle tx-center">
                        
                      </td>
                    </tr>
                    <tr>
                      <td class="pd-l-20">
                        
                      </td>
                      <td>
                        <a href="" class="tx-inverse tx-14 tx-medium d-block">RCM</a>
                        
                      </td>
                      <td class="valign-middle tx-right"><span class="square-8 bg-success mg-r-5 rounded-circle"></span>Gold</td>
                      <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>23.34%</span> from last week</td>
                      <td class="valign-middle tx-center">
                        
                      </td>
                    </tr>
                    <tr>
                      <td class="pd-l-20">
                        
                      </td>
                      <td>
                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Toronto</a>
                        
                      </td>
                      <td class="valign-middle tx-right"><span class="square-8 bg-warning mg-r-5 rounded-circle"></span>Gold</td>
                      <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>28.78%</span> from last week</td>
                      <td class="valign-middle tx-center">
                        
                      </td>
                    </tr>
                    <tr>
                      <td class="pd-l-20">
                        
                      </td>
                      <td>
                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Barcelona</a>
       
                      </td>
                      <td class="valign-middle tx-14 tx-right"><span class="square-8 bg-success mg-r-5 rounded-circle"></span>Gold</td>
                      <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>18.18%</span> from last week</td>
                      <td class="valign-middle tx-center">
                        
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div><!-- table-responsive -->
              <div class="card-footer tx-12 pd-y-15 bg-transparent">
                <a href=""><i class="fa fa-angle-down mg-r-5"></i>View All Products</a>
              </div><!-- card-footer -->
            </div><!-- card -->
          </div><!-- col-6 -->
          <div class="col-lg-6 mg-t-20 mg-lg-t-0">
            <div class="card card-table">
              <div class="card-header">
                <h6 class="dg-card-title">Personal Purchase History</h6>
              </div><!-- card-header -->
              <div class="table-responsive">
                <table class="table mg-b-0 tx-13">
                  <thead>
                    <tr class="tx-10">
                      <th class="wd-10p pd-y-5">&nbsp;</th>
                      <th class="pd-y-5">Type</th>
                      <th class="pd-y-5">---</th>
                      <th class="pd-y-5">Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="pd-l-20">
                        
                      </td>
                      <td>
                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Gold</a>
                        
                      </td>
                      <td class="tx-12">
                        <span class="square-8 bg-success mg-r-5 rounded-circle"></span> RCM
                      </td>
                      <td>April 19</td>
                    </tr>
                    <tr>
                      <td class="pd-l-20">
                       
                      </td>
                      <td>
                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Gold</a>
                       
                      </td>
                      <td class="tx-12">
                        <span class="square-8 bg-warning mg-r-5 rounded-circle"></span> RCM
                      </td>
                      <td>Apr 21</td>
                    </tr>
                    <tr>
                      <td class="pd-l-20">
                        
                      </td>
                      <td>
                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Gold</a>
                        
                      </td>
                      <td class="tx-12">
                        <span class="square-8 bg-success mg-r-5 rounded-circle"></span> RCM
                      </td>
                      <td>Apr 10</td>
                    </tr>
                    <tr>
                      <td class="pd-l-20">
                        
                      </td>
                      <td>
                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Gold</a>
                       
                      </td>
                      <td class="tx-12">
                        <span class="square-8 bg-warning mg-r-5 rounded-circle"></span> RCM
                      </td>
                      <td>Apr 02</td>
                    </tr>
                    <tr>
                      <td class="pd-l-20">
                        
                      </td>
                      <td>
                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Silver</a>
                        
                      </td>
                      <td class="tx-12">
                        <span class="square-8 bg-pink mg-r-5 rounded-circle"></span> RCM
                      </td>
                      <td>Mar 30</td>
                    </tr>
                  </tbody>
                </table>
              </div><!-- table-responsive -->
              <div class="card-footer tx-12 pd-y-15 bg-transparent">
                <a href=""><i class="fa fa-angle-down mg-r-5"></i>View All Transaction History</a>
              </div><!-- card-footer -->
            </div><!-- card -->
          </div><!-- col-6 -->
        </div><!-- row -->

        
      </div><!-- container -->
    </div><!-- dg-mainpanel -->

    <div class="dg-footer">
      <div class="container">
        <p>Copyright 2018 &copy; Apmex. All Rights Reserved. </p>
        
      </div><!-- container -->
    </div><!-- dg-footer -->

    <script src="../lib/jquery/js/jquery.js"></script>
    <script src="../lib/popper.js/js/popper.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.js"></script>
    <script src="../lib/jquery.cookie/js/jquery.cookie.js"></script>
    <script src="../lib/jquery.sparkline.bower/js/jquery.sparkline.min.js"></script>
  </body>
</html>
