<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   

    <title>Digital Gold</title>

    <!-- vendor css -->
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../lib/Ionicons/css/ionicons.css" rel="stylesheet">

    <!-- Digital Gold CSS -->
    <link rel="stylesheet" href="../css/digitalgold.css">

  </head>
  <body>
    

    <div class="dg-navbar">
      <div class="container">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span>Buy</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
             <!-- <i class="icon ion-ios-filing-outline"></i> -->
              <span>Sell</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <!--<i class="icon ion-ios-book-outline"></i>-->
              <span>Withdraw</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="dropdown">
              <!--<i class="icon ion-ios-gear-outline"></i>-->
              <span>Redeem</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="page-messages.html">
              <!--<i class="icon ion-ios-chatboxes-outline"></i>-->
              <span>Funding</span>
              <span class="square-8"></span>
            </a>
          </li>
          
        </ul>
      </div><!-- container -->
    </div><!-- dg-navbar -->

    <div class="dg-mainpanel">
      <div class="container">
        <div class="dg-pageheader">
          <h6 class="dg-pagetitle">Welcome, User</h6>
        </div><!-- dg-pageheader -->

        <div class="dash-headline">
          
            <div class="dash-headline-item-one">
              <div id="chartArea1" class="dash-chartist"></div>
              <div class="dash-item-overlay">
                <h3>Historical Data</h3>
              </div>
            </div><!-- dash-headline-item-one -->
          </div><!-- dash-headline -->

          
        

        <div class="row row-sm mg-t-20">
          <div class="col-lg-6">
            <div class="card card-table">
              <div class="card-header">
                <h6 class="dg-card-title">Your Portfolio</h6>
              </div><!-- card-header -->
              <div class="table-responsive">
                <table class="table mg-b-0 tx-13">
                  <tbody>
                    <tr>
                      <td class="pd-l-20">
                       
                      </td>
                      <td>
                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Zurich</a>
                      </td>
                      <td class="valign-middle tx-right"><span class="square-8 bg-danger mg-r-5 rounded-circle"></span>Gold</td>
                      <td class="valign-middle tx-center">
                        
                      </td>
                    </tr>
                    <tr>
                      <td class="pd-l-20">
                        
                      </td>
                      <td>
                        <a href="" class="tx-inverse tx-14 tx-medium d-block">New York</a>
                       
                      </td>
                      <td class="valign-middle tx-right"><span class="square-8 bg-success mg-r-5 rounded-circle"></span>Gold</td>
                      <td class="valign-middle tx-center">
                        
                      </td>
                    </tr>
                    <tr>
                      <td class="pd-l-20">
                        
                      </td>
                      <td>
                        <a href="" class="tx-inverse tx-14 tx-medium d-block">RCM</a>
                        
                      </td>
                      <td class="valign-middle tx-right"><span class="square-8 bg-success mg-r-5 rounded-circle"></span>Gold</td>
                      <td class="valign-middle tx-center">
                        
                      </td>
                    </tr>
                    <tr>
                      <td class="pd-l-20">
                        
                      </td>
                      <td>
                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Toronto</a>
                        
                      </td>
                      <td class="valign-middle tx-right"><span class="square-8 bg-warning mg-r-5 rounded-circle"></span>Gold</td>
                      <td class="valign-middle tx-center">
                        
                      </td>
                    </tr>
                    <tr>
                      <td class="pd-l-20">
                        
                      </td>
                        
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div><!-- table-responsive -->
            </div><!-- card -->
          </div><!-- col-6 -->
          <div class="col-lg-6 mg-t-20 mg-lg-t-0">
            <div class="card card-table">
              <div class="card-header">
                <h6 class="dg-card-title">Personal Purchase History</h6>
              </div><!-- card-header -->
              <div class="table-responsive">
                <table class="table mg-b-0 tx-13">
                  <thead>
                    <tr class="tx-10">
                      <th class="wd-10p pd-y-5">&nbsp;</th>
                      <th class="pd-y-5">Type</th>
                      <th class="pd-y-5">---</th>
                      <th class="pd-y-5">Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="pd-l-20">
                        
                      </td>
                      <td>
                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Gold</a>
                        
                      </td>
                      <td class="tx-12">
                        <span class="square-8 bg-success mg-r-5 rounded-circle"></span> RCM
                      </td>
                      <td>April 19</td>
                    </tr>
                    <tr>
                      <td class="pd-l-20">
                       
                      </td>
                      <td>
                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Gold</a>
                       
                      </td>
                      <td class="tx-12">
                        <span class="square-8 bg-warning mg-r-5 rounded-circle"></span> RCM
                      </td>
                      <td>Apr 21</td>
                    </tr>
                    <tr>
                      <td class="pd-l-20">
                        
                      </td>
                      <td>
                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Gold</a>
                        
                      </td>
                      <td class="tx-12">
                        <span class="square-8 bg-success mg-r-5 rounded-circle"></span> RCM
                      </td>
                      <td>Apr 10</td>
                    </tr>
                    <tr>
                      <td class="pd-l-20">
                        
                      </td>
                      <td>
                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Gold</a>
                       
                      </td>
                      <td class="tx-12">
                        <span class="square-8 bg-warning mg-r-5 rounded-circle"></span> RCM
                      </td>
                      <td>Apr 02</td>
                    </tr>
                    <tr>
                      <td class="pd-l-20">
                        
                      </td>
                      <td>
                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Silver</a>
                        
                      </td>
                      <td class="tx-12">
                        <span class="square-8 bg-pink mg-r-5 rounded-circle"></span> RCM
                      </td>
                      <td>Mar 30</td>
                    </tr>
                  </tbody>
                </table>
              </div><!-- table-responsive -->
            </div><!-- card -->
          </div><!-- col-6 -->
        </div><!-- row -->

        
      </div><!-- container -->
    </div><!-- dg-mainpanel -->


    <script src="../lib/jquery/js/jquery.js"></script>
    <script src="../lib/popper.js/js/popper.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.js"></script>
    <script src="../lib/jquery.cookie/js/jquery.cookie.js"></script>
    <script src="../lib/jquery.sparkline.bower/js/jquery.sparkline.min.js"></script>
  </body>
</html>
