<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    

    <title>Digital Gold</title>

    <!-- vendor css -->
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="../lib/jquery-toggles/css/toggles-full.css" rel="stylesheet">
    <link href="../lib/spectrum/css/spectrum.css" rel="stylesheet">
    <link href="../lib/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet">

    <!-- Digital Gold CSS -->
    <link rel="stylesheet" href="../../css/digitalgold.css">

</head>
<body>

<!-- ONBOARDING HEADER -->
  <div class="container-fluid">
    <div class="row on-header">
      <div class="col-md-2 col-xs-6 on-brand">
        <h2>Digital Gold</h2>
      </div>
        <div class="col-md-2 offset-md-8 col-xs-12 on-login"><a href="#">Login</a></div>
    </div>
  </div>
      
                

<div class="container mg-t-80">
    <h1 class="verify">Verify your email</h1>
    <div class="mg-t-40">
    <p>We sent an email to <a href="#">allison.campbell@apmex.com</a></p></div>
    <div class="mg-t-15">
      <p><a href="#">Not the right email?</a></p>
    </div>  

    <div class="col-md-4 col-offset-md-4">
        <img class="img-responsive" src="../../img/placeholder-1.png">
    </div>




</div>





  <div class="dg-footer">
    <div class="container">
      <p>Copyright 2018 &copy; APMEX</p>
    </div><!-- container -->
  </div><!-- dg-footer -->

  <script src="../lib/jquery/js/jquery.js"></script>
  <script src="../lib/popper.js/js/popper.js"></script>
  <script src="../lib/bootstrap/js/bootstrap.js"></script>
  <script src="../lib/jquery.cookie/js/jquery.cookie.js"></script>
  <script src="../lib/jquery-toggles/js/toggles.min.js"></script>
  <script src="../lib/spectrum/js/spectrum.js"></script>
  <script src="../lib/jquery.maskedinput/js/jquery.maskedinput.js"></script>
  <script src="../lib/bootstrap-tagsinput/js/bootstrap-tagsinput.js"></script>

  <script src="../js/digitalgold.js"></script>
</body>
</html>