<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    

    <title>Digital Gold</title>

    <!-- vendor css -->
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../lib/jquery-toggles/css/toggles-full.css" rel="stylesheet">
    <link href="../lib/spectrum/css/spectrum.css" rel="stylesheet">
    <link href="../lib/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet">

    <!-- Digital Gold CSS -->
    <link rel="stylesheet" href="../../css/digitalgold.css">

</head>
<body>

<!-- ONBOARDING HEADER -->
  <div class="container-fluid">
    <div class="row on-header">
      <div class="col-md-2 col-xs-6 on-brand">
        <h2>Digital Gold</h2>
      </div>
        <div class="col-md-2 offset-md-8 col-xs-12 on-login">Login</div>
    </div>
  </div>
      
                

<div class="container">
  <h1>Create your account</h1>

      <div class="form-layout">
        <div class="row mg-b-25">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label">First name</label>
              <input class="form-control" type="text" name="firstname" value="Jane" placeholder="Enter firstname">
            </div>
          </div><!-- col-6 -->
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label">Last name</label>
              <input class="form-control" type="text" name="lastname" value="Doe" placeholder="Enter lastname">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group mg-b-10-force">
              <label class="form-control-label">Email address </label>
              <input class="form-control" type="text" name="email" value="janedoe@yourdomain.com" placeholder="Enter email address">
            </div>
          </div><!-- col-12 -->

          <div class="col-md-12">
              <div class="form-group mg-b-10-force">
                <label class="form-control-label">Password </label>
                <input class="form-control" type="text" name="password" value="password" placeholder="Enter password">
              </div>
            </div><!-- col-12 -->
            <div class="col-md-12">
                <div class="form-group mg-b-10-force">
                  <label class="form-control-label">Confirm password </label>
                  <input class="form-control" type="text" name="password" value="password" placeholder="Confirm password">
                </div>
              </div><!-- col-12 -->


          </div>
        </div><!-- row -->
        <div class="row">
            <div class="col-md-12">
              <label class="ckbox">
                <input type="checkbox"><span>By creating this account, you agree to our <a>User Agreement</a> and <a>Privacy Policy</a>.</span>
              </label>
            

        <div class="form-layout-footer mt-5">
          <button class="btn btn-primary bd-0">Sign up</button>
          </div>
        </div><!-- form-layout-footer -->
      </div><!-- form-layout -->
   <!-- section-wrapper -->





</div>





  <div class="dg-footer">
    <div class="container">
      <p>Copyright 2018 &copy; APMEX</p>
    </div><!-- container -->
  </div><!-- dg-footer -->

  <script src="../lib/jquery/js/jquery.js"></script>
  <script src="../lib/popper.js/js/popper.js"></script>
  <script src="../lib/bootstrap/js/bootstrap.js"></script>
  <script src="../lib/jquery.cookie/js/jquery.cookie.js"></script>
  <script src="../lib/jquery-toggles/js/toggles.min.js"></script>
  <script src="../lib/spectrum/js/spectrum.js"></script>
  <script src="../lib/jquery.maskedinput/js/jquery.maskedinput.js"></script>
  <script src="../lib/bootstrap-tagsinput/js/bootstrap-tagsinput.js"></script>

  <script src="../js/digitalgold.js"></script>
</body>
</html>